<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=10;IE=9" />
    <title>@ViewBag.Title - 微贷猫</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/common.css")" />
    @RenderSection("head",required:false) 
</head>
<body>
    <div class="header">
        <div class="container">
            <h1 class="logo">
                <img class="img-responsive" src="@Url.Content("~/Content/img/logo.jpg")" />
            </h1>
            <div class="top-nav">
                <ul class="nav-container clearfix">
                    <li>
                        <a href="@Url.Content("~/Home/Index")" class="top-nav-index">首页</a>
                    </li>
                    <li><a href="@Url.Content("~/Loan/Credit")" class="top-nav-credit">云信贷</a></li>
                    <li><a href="@Url.Content("~/Loan/Housing")" class="top-nav-housing">云房贷</a></li>
                    <li><a href="@Url.Content("~/Loan/Car")" class="top-nav-car">云车贷</a></li>
                    <li><a href="@Url.Content("~/Home/About")" class="top-nav-ws">官网</a></li>
                </ul>
                <div class="top-contact">
                    贷款热线：0755-82934001
                </div>
            </div>
        </div>
    </div>
    @RenderBody()
    <footer class="footer">
        <div class="container">
            <ul class="bottom-nav clearfix">
                <li class="bottom-nav-container">
                    <ul>
                        <li class="bottom-nav-item">
                            <a href="@Url.Content("~/Home/Index")" target="_blank">首页</a>
                        </li>
                        <li class="bottom-nav-item">
                            <a href="@Url.Content("~/Loan/Apply")" target="_blank">快速申请</a>
                        </li>
                        <li class="bottom-nav-item">
                            <a href="https://ipcrs.pbccrc.org.cn/" target="_blank">征信查询</a>
                        </li>
                        <li class="bottom-nav-item">
                            <a href="@Url.Content("~/Loan/Credit")" target="_blank">精品推荐</a>
                        </li>
                        <li class="bottom-nav-item">
                            <a href="@Url.Content("~/Calculator/PersonalLoan")" target="_blank">实用工具</a>
                        </li>
                        <li class="bottom-nav-item">
                            <a href="#" target="_blank"></a>
                        </li>
                        <li class="bottom-nav-item">
                            <a href="@Url.Content("~/Loan/Index")" target="_blank">快速贷款查询</a>
                        </li>
                    </ul>
                </li>
                <li class="bottom-nav-container">
                    <ul>
                        <li class="bottom-nav-item">
                            <a href="@Url.Content("~/Loan/Credit")" target="_blank">信用贷</a>
                        </li>
                        <li class="bottom-nav-item">
                            <a href="@Url.Content("~/Loan/Credit")" target="_blank">贷款产品查询</a>
                        </li>
                        <li class="bottom-nav-item">
                            <a href="#" target="_blank">快速申请</a>
                        </li>
                    </ul>
                </li>
                <li class="bottom-nav-container">
                    <ul>
                        <li class="bottom-nav-item">
                            <a href="@Url.Content("~/Loan/Car")" target="_blank">抵押贷</a>
                        </li>
                        <li class="bottom-nav-item">
                            <a href="@Url.Content("~/Loan/Car")" target="_blank">贷款产品查询</a>
                        </li>
                        <li class="bottom-nav-item">
                            <a href="#" target="_blank">快速申请</a>
                        </li>
                    </ul>
                </li>
                <li class="bottom-nav-container">
                    <ul>
                        <li class="bottom-nav-item">
                            <a href="@Url.Content("~/Home/About")" target="_blank">官网</a>
                        </li>
                        <li class="bottom-nav-item">
                            <a href="@Url.Content("~/Home/About")" target="_blank">公司介绍</a>
                        </li>
                        <li class="bottom-nav-item">
                            <a href="@Url.Content("~/Home/Partner")" target="_blank">合作伙伴</a>
                        </li>
                        <li class="bottom-nav-item">
                            <a href="@Url.Content("~/Home/Our")" target="_blank">核心团队</a>
                        </li>
                        <li class="bottom-nav-item">
                            <a href="@Url.Content("~/Home/Join")" target="_blank">加入我们</a>
                        </li>
                        <li class="bottom-nav-item">
                            <a href="@Url.Content("~/Home/Contact")" target="_blank">联系我们</a>
                        </li>
                    </ul>
                </li>
                <li class="bottom-nav-container">
                    <div class="share-title">分享：</div>
                    <div>
                        <div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_sqq" data-cmd="sqq" title="分享到QQ好友"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a></div>
                        <script>window._bd_share_config = { "common": { "bdSnsKey": {}, "bdText": "", "bdMini": "2", "bdMiniList": false, "bdPic": "", "bdStyle": "1", "bdSize": "32" }, "share": {} }; with (document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];</script>
                    </div>
                    <div class="footer-qr-wx">
                        @*<img class="img-responsive" src="@Url.Content("~/Content/img/qrcode_wx.png")" />*@
                    </div>
                </li>
            </ul>
        </div>
    </footer>
    <div class="goto-top">
        <a class="common-wx">

        </a>
        <a class="goto-top-bt"></a>
    </div>
    @*<div class="float-qr-wx">
        <img src="@Url.Content("~/Content/img/qrcode_wx.png")" />
    </div>*@
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/common")
    @RenderSection("scripts", required: false)
</body>
</html>
